.DS_store
__pycache__/
*.h5
*.pdf
*.png
*.sh
05*
Jena/
misc/
foo.py
bdot_code_depreciated.py
field_code.py
foo.py
h5_summary*
helper_code.py
lineout_summary.py
live_updates.py
magnet*
report_doce.py
report_code.py
