__pycache__/
Jena/
misc/
bdot_data/
bdot_raw_trace_output/
archive/
06*
05*
*.h5
*.png
*.sh
*.pdf
*.mp4
*.tiff
*.tif
*.zip
.DS_store
foo.py
BdotAnalysisUCLA.m
BdotAnalysisUCLA.py
graphing_for_lasernet.py
